<h1>Jots</h1>
<div class="row">
    {{#each jots}}
        <div class="col s12 m6 marginmore">
            <div class="card amber lighten-3">
                <div class="card-image">
                    {{{editIcon user ../user _id}}}
                </div>
                <div class="card-content center-align">
                    <h5>{{title}}</h5>
                    <p> {{stripTags (truncate body 150)}} </p>
                    <img src="{{primaryImage}}" width="50%">
                    <br>
                    <div class="chip">
                        <img src="{{user.image}}" alt="an image of you, the user">
                        <a href="/jots/user/{{user._id}}">{{user.displayName}}</a>
                    </div>
                </div>
                <div class="card-action center-align">
                    <a href="/jots/{{_id}}" class="btn-large pink darken-1">More</a>
                </div>
            </div>
        </div>
    {{else}}
        <p>No Jots To Display</p>
    {{/each}}
</div>